<header class="p-3 bg-custom text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-custom" routerLink="">Главная</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-custom" href="#" role="button" id="databaseMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Справочник
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="databaseMenuButton">
                <li><a class="dropdown-item" [routerLink]="['/database']" [queryParams]="{ queryItem: 1 }">Заклинания</a></li>
                <li><a class="dropdown-item" [routerLink]="['/database']" [queryParams]="{ queryItem: 2 }">Магические предметы</a></li>
                <li><a class="dropdown-item" [routerLink]="['/database']" [queryParams]="{ queryItem: 3 }">Бестиарий</a></li>
            </ul>
        </li>
      </ul>

      <div class="text-end" *ngIf="userService.currentUser == null">
        <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginModal">Войти</button>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#registryModal">Зарегестрироваться</button>
      </div>
      <div class="dropdown text-end" *ngIf="userService.currentUser != null">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">Листы персонажей</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Настройки</a></li>
              <li><a class="dropdown-item" (click)="token.signOut()">Выйти</a></li>
          </ul>
      </div>
    </div>
  </div>
</header>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <modal-login></modal-login>
</div>

<div class="modal fade" id="registryModal" tabindex="-1" aria-labelledby="registryModal" aria-hidden="true">
    <modal-registry></modal-registry>
</div>


