<div class="bg-cover flex-column d-flex">
    <div class="inner d-flex justify-content-center">
        <span>{{this.infoString}}</span>
    </div>
    <ul class="d-flex list-group mt-2 ms-2 me-2 list-inline mx-auto inner-custom align-content-center">
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
        <li class="list-group-item">Item 4</li>
        <li class="list-group-item">Item 5</li>
    </ul>
</div>
