<div class="bg-cover flex-column d-flex just">
    <div class="inner d-flex justify-content-center">
        <span>{{this.infoString}}</span>
    </div>
    <div class="inner d-flex justify-content-center">
        <button *ngIf="queryItem == 3" class="btn btn-primary btnParams" [routerLink]="['/characterCreation']" >Создать персонажа</button>
        <button *ngIf="(queryItem == 0 || queryItem == 1 || queryItem == 2) && userService.currentUser != null" class="btn btn-primary btnParams" data-bs-toggle="modal" data-bs-target="#itemCreation">Создать предмет</button>
    </div>
    <ul>
        <div *ngIf="queryItem != 3" class="d-flex list-group mt-2 ms-2 me-2 inner-custom align-items-center">
            <ul class="list-group list-group-horizontal mt-1 mb-1">
                <li class="list-group-item">Название</li>
                <li class="list-group-item">Имя автора</li>
                <li class="list-group-item">Действия</li>
            </ul>
            <ul class="list-group list-group-horizontal mt-1 mb-1" *ngFor="let item of queryList;">
                <li class="list-group-item">{{item.name}}</li>
                <li class="list-group-item">{{item.owner.username}}</li>
                <li class="list-group-item">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#information"
                            (click)="changeShowedItem(item)">
                        <a data-bs-toggle="tooltip" title="Информация">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path
                                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </a>
                    </button>
                    <button *ngIf="(queryItem == 4 || queryItem == 5 || queryItem == 6) && userService.currentUser != null" type="button" class="btn" (click)="deleteItem(item.id, queryItem.valueOf() - 4)">
                        <a  data-bs-toggle="tooltip" title="Информация">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </button>
                </li>
            </ul>
        </div>
        <div *ngIf="queryItem == 3" class="d-flex list-group mt-2 ms-2 me-2 inner-custom align-items-center">
            <ul class="list-group list-group-horizontal mt-1 mb-1">
                <li class="list-group-item">Имя персонажа</li>
                <li class="list-group-item">Класс</li>
                <li class="list-group-item">Действия</li>
            </ul>
            <ul class="list-group list-group-horizontal mt-1 mb-1" *ngFor="let item of queryList;">
                <li class="list-group-item">{{item.name}}</li>
                <li class="list-group-item">{{item.charClass}}</li>
                <li class="list-group-item">
                    <button *ngIf="queryItem == 3" class="btn" [routerLink]="['/characterCreation']" [queryParams]="createParams(item)" >
                        <a data-bs-toggle="tooltip" title="Информация">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                            </svg>
                        </a>
                    </button>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#information" (click)="deleteItem(item.id, 3)">
                        <a  data-bs-toggle="tooltip" title="Информация">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </button>
                </li>
            </ul>
        </div>
    </ul>

</div>

<div class="modal fade" id="itemCreation" tabindex="-1" aria-labelledby="itemCreation" aria-hidden="true">
    <modal-creator [itemType]="queryItem"></modal-creator>
</div>
<div *ngIf="queryItem != 3" class="modal fade" id="information" tabindex="-1" aria-labelledby="information" aria-hidden="true">
    <modal-information [itemToShow]="itemToShow" [itemType]="queryItem.valueOf() - (queryItem.valueOf() >= 4 ? 4 : 0)"></modal-information>
</div>

