<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Регистрация</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="needs-validation" [formGroup]="registryForm">
                <div>
                    <label for="login" class="col-form-label">Логин</label>
                    <input type="text" class="form-control" id="login" formControlName="login" required>
                </div>
                <div>
                    <label for="email" class="col-form-label">Почта</label>
                    <input type="text" class="form-control" id="email" formControlName="email">
                </div>
                <div class="inner-addon left-addon">
                    <label for="password" class="col-form-label">Пароль</label>
                    <input class="form-control" id="password" formControlName="password" type="password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Зарегестрироваться</button>
        </div>
    </div>
</div>
