<div>
    <div class="list-group">
        <a class="list-group-item list-group-item-action active" id="requests" data-bs-toggle="list" aria-controls="requests" href="#lRequests">Запросы на добавление в глобальную базу</a>
        <a class="list-group-item list-group-item-action" id="spellsDb" data-bs-toggle="list" aria-controls="spellsDb" href="#lSpellsDb" (click)="loadData(0)">Заклинания</a>
        <a class="list-group-item list-group-item-action" id="magicItemsDb" data-bs-toggle="list" aria-controls="magicItemsDb" href="#lMagicItemsDb" (click)="loadData(1)">Магические предметы</a>
        <a class="list-group-item list-group-item-action" id="bestiaryDb" data-bs-toggle="list" aria-controls="bestiaryDb" href="#lBestiaryDb" (click)="loadData(2)">Бестиарий</a>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="lRequests" role="tabpanel" aria-labelledby="requests">Тест 1</div>
        <div class="tab-pane fade" id="lSpellsDb" role="tabpanel" aria-labelledby="spellsDb">
            <ul class="list-group">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item fw-bold">Название</li>
                    <li class="list-group-item fw-bold">Автор</li>
                    <li class="list-group-item fw-bold">Действия</li>
                </ul>
                <ul class="list-group list-group-horizontal" *ngFor="let item of queryList">
                    <li class="list-group-item">{{item.name}}</li>
                    <li class="list-group-item">{{item.owner.username}}</li>
                    <li class="list-group-item">WIP</li>
                </ul>
            </ul>
        </div>
        <div class="tab-pane fade" id="lMagicItemsDb" role="tabpanel" aria-labelledby="magicItemsDb">Тест 3</div>
        <div class="tab-pane fade" id="lBestiaryDb" role="tabpanel" aria-labelledby="bestiaryDb">Тест 4</div>
    </div>
</div>
