<div class="d-flex setBack align-items-start">
    <div class="outlineStats">
        <form role="form" class="col" [formGroup]="stats">
            <div class="form-group">
                <label for="Strength" class="col-form-label" style="margin-left: 56px">Сила</label>
                <input type="text" class="form-control inputBox" id="Strength" formControlName="strength" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                <div class="borderSet">{{calculateModificator(this.stats.get("strength")?.value)}}</div>
            </div>
            <div class="form-group">
                <label for="Dexterity" class="col-form-label" style="margin-left: 40px">Ловкость</label>
                <input type="text" class="form-control inputBox" id="Dexterity" formControlName="dexterity" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                <div class="borderSet">{{calculateModificator(this.stats.get("dexterity")?.value)}}</div>
            </div>
            <div class="form-group">
                <label for="Constitution" class="col-form-label" style="margin-left: 18px">Телосложение</label>
                <input type="text" class="form-control inputBox" id="Constitution" formControlName="constitution" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                <div class="borderSet">{{calculateModificator(this.stats.get("constitution")?.value)}}</div>
            </div>
            <div class="form-group">
                <label for="Intelligence" class="col-form-label" style="margin-left: 37px">Интеллект</label>
                <input type="text" class="form-control inputBox" id="Intelligence" formControlName="intelligence" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                <div class="borderSet">{{calculateModificator(this.stats.get("intelligence")?.value)}}</div>
            </div>
            <div class="form-group">
                <label for="Wisdom" class="col-form-label" style="margin-left: 40px">Мудрость</label>
                <input type="text" class="form-control inputBox" id="Wisdom" formControlName="wisdom" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                <div class="borderSet">{{calculateModificator(this.stats.get("wisdom")?.value)}}</div>
            </div>
            <div class="form-group">
                <label for="Charisma" class="col-form-label" style="margin-left: 44px">Харизма</label>
                <input type="text" class="form-control inputBox" id="Charisma" formControlName="charisma" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                <div class="borderSet">{{calculateModificator(this.stats.get("charisma")?.value)}}</div>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="outlineSavingThrows">
            <p class="text-center">Спасброски</p>
            <form role="form" [formGroup]="savingThrowsProf">
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="strengthSave" formControlName="strength">
                    <label for="strengthSave" class="form-check-label ms-2">Силы</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="dexteritySave" formControlName="dexterity">
                    <label for="dexteritySave" class="form-check-label ms-2">Ловкости</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="constitutionSave" formControlName="constitution">
                    <label for="constitutionSave" class="form-check-label ms-2">Телосложения</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="intelligenceSave" formControlName="intelligence">
                    <label for="intelligenceSave" class="form-check-label ms-2">Интеллекта</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="wisdomSave" formControlName="wisdom">
                    <label for="wisdomSave" class="form-check-label ms-2">Мудрости</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="charismaSave" formControlName="charisma">
                    <label for="charismaSave" class="form-check-label ms-2">Харизмы</label>
                </div>
            </form>
        </div>
        <div class="outlineSkillsProf">
            <form role="form" [formGroup]="skillsProf">
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="athletics" formControlName="athletics">
                    <label for="athletics" class="form-check-label ms-2">{{calculateModificator(this.stats.get("strength")?.value)}}</label>
                    <label for="athletics" class="form-check-label ms-2">Атлетика</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="acrobatics" formControlName="acrobatics">
                    <label for="acrobatics" class="form-check-label ms-2">2</label>
                    <label for="acrobatics" class="form-check-label ms-2">Акробатика</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="sleightOfHands" formControlName="sleightOfHands">
                    <label for="sleightOfHands" class="form-check-label ms-2">2</label>
                    <label for="sleightOfHands" class="form-check-label ms-2">Ловкость рук</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="stealth" formControlName="stealth">
                    <label for="stealth" class="form-check-label ms-2">2</label>
                    <label for="stealth" class="form-check-label ms-2">Скрытность</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="arcana" formControlName="arcana">
                    <label for="arcana" class="form-check-label ms-2">2</label>
                    <label for="arcana" class="form-check-label ms-2">Магия</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="history" formControlName="history">
                    <label for="history" class="form-check-label ms-2">2</label>
                    <label for="history" class="form-check-label ms-2">История</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="investigation" formControlName="investigation">
                    <label for="investigation" class="form-check-label ms-2">2</label>
                    <label for="investigation" class="form-check-label ms-2">Анализ</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="nature" formControlName="nature">
                    <label for="nature" class="form-check-label ms-2">2</label>
                    <label for="nature" class="form-check-label ms-2">Природа</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="religion" formControlName="religion">
                    <label for="religion" class="form-check-label ms-2">2</label>
                    <label for="religion" class="form-check-label ms-2">Религия</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="animalHandling" formControlName="animalHandling">
                    <label for="animalHandling" class="form-check-label ms-2">2</label>
                    <label for="animalHandling" class="form-check-label ms-2">Уход за животными</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="insight" formControlName="insight">
                    <label for="insight" class="form-check-label ms-2">2</label>
                    <label for="insight" class="form-check-label ms-2">Проницательность</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="medicine" formControlName="medicine">
                    <label for="medicine" class="form-check-label ms-2">2</label>
                    <label for="medicine" class="form-check-label ms-2">Медицина</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="perception" formControlName="perception">
                    <label for="perception" class="form-check-label ms-2">2</label>
                    <label for="perception" class="form-check-label ms-2">Внимательность</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="survival" formControlName="survival">
                    <label for="survival" class="form-check-label ms-2">2</label>
                    <label for="survival" class="form-check-label ms-2">Выживание</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="deception" formControlName="deception">
                    <label for="deception" class="form-check-label ms-2">2</label>
                    <label for="deception" class="form-check-label ms-2">Обман</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="intimidation" formControlName="intimidation">
                    <label for="intimidation" class="form-check-label ms-2">2</label>
                    <label for="intimidation" class="form-check-label ms-2">Запугивание</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="performance" formControlName="performance">
                    <label for="performance" class="form-check-label ms-2">2</label>
                    <label for="performance" class="form-check-label ms-2">Выступление</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="persuasion" formControlName="persuasion">
                    <label for="persuasion" class="form-check-label ms-2">2</label>
                    <label for="persuasion" class="form-check-label ms-2">Убеждение</label>
                </div>
            </form>

        </div>
        <div class="passivePerception" style="background: #ffffff; width: fit-content; margin-top: 10px; padding: 10px;">
            <span>12 Пассивная мудрость</span>
        </div>
    </div>
    <div class="col">
        <div class="outlineBasicInformation">
            <form role="form">
                <div class="form-group">
                    <label for="charName" class="col-form-label">Имя персонажа</label>
                    <input type="text" class="form-control" id="charName">
                </div>
                <div class="form-group">
                    <label for="charClass" class="col-form-label">Класс</label>
                    <input type="text" class="form-control" id="charClass">
                </div>
                <div class="form-group">
                    <label for="charLevel" class="col-form-label">Уровень</label>
                    <input type="text" class="form-control" id="charLevel">
                </div>
                <div class="form-group">
                    <label for="charRace" class="col-form-label">Раса</label>
                    <input type="text" class="form-control" id="charRace">
                </div>
                <div class="form-group">
                    <label for="charAlignment" class="col-form-label">Мировоззрение</label>
                    <input type="text" class="form-control" id="charAlignment">
                </div>
            </form>
        </div>
        <div class="outlineBasicInformation">
            <form role="form">
                <div class="form-group">
                    <label for="armorClass" class="col-form-label">КД</label>
                    <input type="text" class="form-control" id="armorClass" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div class="form-group">
                    <label for="speed" class="col-form-label">Скорость</label>
                    <input type="text" class="form-control" id="speed" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div class="form-group">
                    <label for="maxHitPoints" class="col-form-label">Максимальные хиты</label>
                    <input type="text" class="form-control" id="maxHitPoints" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div class="form-group">
                    <label for="curHitPoints" class="col-form-label">Текущие хиты</label>
                    <input type="text" class="form-control" id="curHitPoints" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
            </form>
        </div>
        <button class="btn btn-primary">Сохранить персонажа</button>
    </div>

</div>
